.input-wrap {
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.input-wrap.paper-header-status {
    padding-top: 0;
    padding-bottom: 0;
}
.input-wrap > * {
    flex: 1 1 auto;
}
.input-wrap .input-label {
    width: 30%;
    flex: 0 1 auto;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
}
.input-wrap .input-changed,
.input-wrap .input-initial,
.input-wrap .input-initial-undo {
    display: none;
}
.input-wrap.show-changed .input-changed,
.input-wrap.show-initial .input-initial,
.input-wrap.show-initial-undo .input-initial-undo {
    display: initial;
}
.show-changed .module-position {
    background-color: #cdb;
}
.input-wrap.paper-header-status .input-label {
    flex-basis: 100%;
    height: 2px;
    margin-top: 2px;
    display: flex;
}
.input-wrap.paper-header-status .input-changed {
    background-color: #180;
    height: 2px;
    width: 100%;
}
.input-wrap .input-select {
    width: 70%;
    flex: 0 1 auto;
}
.input-wrap > p {
    width: 100%;
    margin-left: 30%;
    margin-top: 0.2em;
    line-height: 1.35;
}
.input-wrap-trix {
    display: block;
}
.module-field-gallery .input-wrap .input-label,
.input-wrap-trix .input-label {
    text-align: left;
    margin-bottom: 5px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}
.module-field-gallery .input-wrap .input-label br,
.input-wrap-trix .input-label br {
    display: none;
}
.input-wrap-trix.show-initial .input-initial,
.input-wrap-trix.show-initial-undo .input-initial-undo {
    display: none;
}

.input-wrap-slugImage .input-slug {
    margin-bottom: 8px;
}
.module-field-gallery .input-wrap .input-slug {
    margin-bottom: 0;
}

.input-wrap-slugImage .slugImage {
    max-width: 244px;
    min-height: 75px;
    max-height: 165px;
    margin-left: 10px;
    grid-column: 3/4;
    grid-row: 1/3;
    cursor: pointer;
    border: 1px solid #b9a;
    padding: 0;
    background: transparent;
}
.input-wrap-slugImage .slugImage img {
    object-fit: contain;
    pointer-events: none;
    max-height: 165px;
}
.input-wrap-slugImage .slugImage:hover {
    outline: 2px dashed #f0c;
    outline-offset: 3px;
}
.input-wrap-slugImage .input-footer {
    grid-column: 2/3;
}
.input-wrap-slugImage .input-infos {
    grid-column: 3/4;
}
.slugImage.empty {
    background-color: rgba(0, 0, 0, 0.1);
}

.input-label {
    font-size: 13px;
    line-height: 18px;
    padding-right: 12px;
    text-align: right;
}
.input-label-lang {
    color: #a26;
    font-size: 13px;
    min-width: 14px;
    display: inline-block;
}
.input-changed {
    color: #180;
    font-size: 13px;
}
.input-label-lang:empty {
    display: none;
}
.input-wrap-errors {
    background: #fcc;
}
.input-wrap-errors.perm-dev {
    background: repeating-linear-gradient(135deg, #fcc 0px, #fcc 10px, #fe9 10px, #fe9 20px);
}

.input-footer {
    flex-basis: 70%;
    flex-grow: 0;
    margin-left: auto;
    font-size: 13px;
}
.module-field-gallery .input-footer {
    flex-basis: initial;
    width: 100%;
    font-size: 13px;
    margin-left: 0;
}

.input-errors li {
    color: #d00;
}
.input-infos li {
    color: #180;
}

.input-len {
    color: #169;
}

.load.loading1 {
    background-color: rgba(187, 153, 170, 0.2);
    opacity: 0.6;
}
.load.loading2 {
    background-color: rgba(187, 153, 170, 0.4);
    transition: background-color 0.5s ease-out;
}



.input-number,
.input-slug,
.input-select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: #fff;
    border-radius: 1px;
    border: 1px solid #b9a;
    font-size: 100%;
    min-height: 38px;
    line-height: normal;
    margin: 0;
    outline: none;
    padding-left: 8px;
    padding-right: 8px;
    text-transform: none;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
}

.input-text,
.input-textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: #fff;
    border-radius: 1px;
    border: 1px solid #b9a;
    margin: 0;
    outline: none;
    padding: 0;
    padding-left: 8px;
    padding-right: 8px;
    resize: none;
    text-transform: none;
    font-size: 14px;
    line-height: 20px;
    overflow-y: hidden;
}

.input-text {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 14px;
    min-height: 38px;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
}

textarea.input-text {
    padding-top: 8px;
    padding-bottom: 8px;
    height: 38px;
}

.input-textarea {
    resize: vertical;
    font-family: monospace;
}

trix-editor:focus,
.input-text:focus,
.input-title:focus,
.input-textarea:focus,
.input-number:focus,
.input-select:focus,
.input-slug:focus,
.input-date-time:focus {
    border-color: #51A7E8 !important;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075), 0 0 5px rgba(81,167,232,0.5) !important;
}

trix-editor:invalid,
.input-text:invalid,
.input-title:invalid,
.input-textarea:invalid,
.input-number:invalid,
.input-select:invalid,
.input-slug:invalid,
.input-date-time:invalid {
    background: #fee;
}

.input-select-arrow {
    position: relative;
    cursor: pointer;
}

.input-select {
    position: relative;
    cursor: pointer;
    background-image: url(/edit/gfx/buttons/input-select-arrow.png);
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: right 6px top 3px;
    height: 38px;
}
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}


.input-select-arrow::before {
    position: absolute;
    content: '↓';
    top: 7px;
    right: 7px;
    font-size: 17px;
    color: #555;
}

.input-search {
    padding-left: 36px;
    background-image: url(/edit/gfx/buttons/input-search.png);
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: 3px center;
}

.btn.input-file {
    padding-top: 8px;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    width: 100%;
    text-align: left;
}
.input-file:hover {
    text-decoration: underline;
}

.required {
    font-weight: bold;
    color: #000;
}

.input-text:read-only {
    background: rgba(0, 0, 0, 0.05);
}














label.input-radio {
    position: relative;
}
label.input-radio input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    opacity: 0.0;
    cursor: pointer;
}


.btn, a.btn {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    color: #333;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    min-height: 38px;
    padding: 6px;
    text-align: center;
    border-radius: 4px;
    background: #ece6ef linear-gradient(160deg, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.05) 100%);

    border: 1px solid rgba(255, 255, 255, 0.8);
    border-right-color: rgba(0, 0, 0, 0.2);
    border-bottom-color: rgba(0, 0, 0, 0.2);

    float: left;
    text-decoration: none;
    word-wrap: break-word;
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
            hyphens: auto;
    transition: padding 65ms ease-in-out, background 65ms ease-in-out;
    box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.04), 0 0 2px rgba(187, 153, 170, 0.3);
}
button.btn {
    padding: 4px 2px;
}
.btn:hover {
    box-shadow: inset 2px 2px 32px rgba(255, 255, 255, 0.5), 0 0 2px rgba(187, 153, 170, 0.3);
}
.btn.active:hover {
    box-shadow: inset 2px 2px 32px rgba(255, 255, 255, 0.3), 0 0 2px rgba(187, 153, 170, 0.3);
}
.btn:active {
    box-shadow: inset 2px 2px 32px rgba(0, 0, 0, 0.1);
}
.btn.active:active {
    box-shadow: inset 2px 2px 32px rgba(0, 0, 0, 0.2);
}

.btn.input-radio.active {
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1), 0 0 2px rgba(187, 153, 170, 0.3);
}
.btn.input-radio.active:hover {
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1), inset 2px 2px 32px rgba(255, 255, 255, 0.3), 0 0 2px rgba(187, 153, 170, 0.3);
}

.btn-group-radio {
    display: flex;
    flex-wrap: wrap;
}



.btn.active, a.btn.active {
    color: #fff;
    background-color: #b7d;
    text-shadow: 0 1px 1px rgba(0,0,0,0.6);
}
.btn-red.active, a.btn-red.active {
    background-color: #d43;
}
.btn-yellow.active, a.btn-yellow.active {
    background-color: #da0;
}
.btn-blue.active, a.btn-blue.active {
    background-color: #09f;
}
.btn-green.active, a.btn-green.active {
    background-color: #2c4;
}
.btn-red:not(.active), a.btn-red:not(.active) {
    text-decoration: underline solid #d43;
    text-decoration-thickness: 2px;
    text-underline-offset: 0.2em;
}
.btn-yellow:not(.active), a.btn-yellow:not(.active) {
    text-decoration: underline solid #da0;
    text-decoration-thickness: 2px;
    text-underline-offset: 0.2em;
}
.btn-blue:not(.active), a.btn-blue:not(.active) {
    text-decoration: underline solid #09f;
    text-decoration-thickness: 2px;
    text-underline-offset: 0.2em;
}
.btn-green:not(.active), a.btn-green:not(.active) {
    text-decoration: underline solid #2c4;
    text-decoration-thickness: 2px;
    text-underline-offset: 0.2em;
}





.btn-pad,
button.btn-pad,
a.btn-pad {
    padding-left: 12px;
    padding-right: 12px;
}


.btn-wide,
button.btn-wide,
a.btn-wide {
    padding-left: 12px;
    padding-right: 12px;
    min-width: 200px;
}


.btn-small,
button.btn-small,
a.btn-small {
    min-height: 28px;
    min-width: 28px;
    padding: 2px;
}

.btn-pill {
    border-radius: 0px;
}

.btn-pill:only-of-type {
    border-radius: 4px;
}

.btn-pill:first-of-type {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.btn-pill:last-of-type {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

label.btn-checkbox:focus-within,
label.input-radio:focus-within,
*:focus, input:focus {
    outline: 2px dashed #f0c;
    z-index: 50;
    outline-offset: 3px;
    position: relative;
}
::-moz-focus-inner {
    border: 0;
}

body:not(.show-focus-outlines) *:focus {
    outline: none;
}


.module-field-group-delete .btn-group:nth-child(n+2) {
    border-color: #ccc !important;
}
:disabled,
button:disabled,
button.active:disabled {
    /*border-color: #ccc !important;*/
    background-color: #eee !important;
    box-shadow: none !important;
    color: #888 !important;
    text-shadow: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    opacity: 0.5;
}
button.fake {
    background :none;
    color: #05e;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    text-decoration: underline;
}
button.fake:hover { color: #00a; }











.btn-row {
    display: flex;
    flex-wrap: wrap;
}
.btn-row > * {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
    align-content: center;
}
.btn-row > * + * {
    margin-left: 5px;
}
.btn-row > .input-label {
    padding-right: 2px;
}
.btn-group {
    display: flex;
    flex-wrap: wrap;
}
.btn-group :disabled {
    opacity: 0.5;
}
.btn-group > *:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.btn-group > *:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group input {
    max-width: 52px;
    border: none;
    padding: 0 6px;
    margin: 0;
    font-size: 13px;
    min-height: 27px;
    border: 1px solid #999;
    margin-top: -1px;
}
.btn-new {
    flex-grow: 1;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    background-image: url(/edit/gfx/buttons/overlay.png);
    background-color: #eee;
    background-size: 100% 100%, 16px 16px;
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid #999;
    margin-left: -1px;
    margin-top: -1px;
    min-width: 28px;
    min-height: 28px;
    color: #333;
    font-size: 13px;
    z-index: 9;
}
.btn-new:active {
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.2);
}
.btn-new:hover {
    background-color: #fff;
}

.btn-new-text {
    padding: 0 6px;
}
.btn-new-x {
    background-image: url(/edit/gfx/buttons/overlay.png), url(/edit/gfx/buttons/general-close-red.png);
}
.btn-new-x-text {
    background-image: url(/edit/gfx/buttons/overlay.png), url(/edit/gfx/buttons/general-close-red.png);
    background-position: center center, 4px center;
    padding: 0 6px 0 22px;
}
.btn-new-plus {
    background-image: url(/edit/gfx/buttons/overlay.png), url(/edit/gfx/buttons/general-add-green.png);
}
.btn-new-plus-text {
    background-image: url(/edit/gfx/buttons/overlay.png), url(/edit/gfx/buttons/general-add-green.png);
    background-position: center center, 4px center;
    padding: 0 6px 0 22px;
}

.btn-new.reorder-first {
    background-image: url(/edit/gfx/buttons/overlay.png), url(/edit/gfx/buttons/reorder-first.png);
}

.btn-new.reorder-prev {
    background-image: url(/edit/gfx/buttons/overlay.png), url(/edit/gfx/buttons/reorder-prev.png);
}

.btn-new.reorder-next {
    background-image: url(/edit/gfx/buttons/overlay.png), url(/edit/gfx/buttons/reorder-next.png);
}

.btn-new.reorder-last {
    background-image: url(/edit/gfx/buttons/overlay.png), url(/edit/gfx/buttons/reorder-last.png);
}

.module-field-gallery .btn-new.reorder-first {
    background-image: url(/edit/gfx/buttons/overlay.png), url(/edit/gfx/buttons/pagination-first.png);
}

.module-field-gallery .btn-new.reorder-prev {
    background-image: url(/edit/gfx/buttons/overlay.png), url(/edit/gfx/buttons/pagination-prev.png);
}

.module-field-gallery .btn-new.reorder-next {
    background-image: url(/edit/gfx/buttons/overlay.png), url(/edit/gfx/buttons/pagination-next.png);
}

.module-field-gallery .btn-new.reorder-last {
    background-image: url(/edit/gfx/buttons/overlay.png), url(/edit/gfx/buttons/pagination-last.png);
}

.btn-new.pagination-first {
    background-image: url(/edit/gfx/buttons/overlay.png), url(/edit/gfx/buttons/pagination-first.png);
}

.btn-new.pagination-prev {
    background-image: url(/edit/gfx/buttons/overlay.png), url(/edit/gfx/buttons/pagination-prev.png);
}

.btn-new.pagination-next {
    background-image: url(/edit/gfx/buttons/overlay.png), url(/edit/gfx/buttons/pagination-next.png);
}

.btn-new.pagination-last {
    background-image: url(/edit/gfx/buttons/overlay.png), url(/edit/gfx/buttons/pagination-last.png);
}

















.btn-checkbox {
    position: relative;
    padding: 13px 0.1em 0;
    margin: 0;
    line-height: 1.3;

    background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.15) 0%,
        rgba(255, 255, 255, 0.05) 14%,
        rgba(0, 0, 0, 0.15) 14%,
        rgba(0, 0, 0, 0.05) 50%,
        rgba(0, 0, 0, 0.05) 50%,
        rgba(255, 255, 255, 0.1) 86%,
        rgba(0, 0, 0, 0.3) 86%,
        rgba(0, 0, 0, 0.2) 100%
    );
    background-size: 100% 130%;
    background-position: center top;
}
.btn-checkbox.active {
    padding: 4px 0.1em 0;
    background-position: center bottom;
}
.btn-checkbox.active:hover {
}
.btn-checkbox.btn-small {
    padding: 7px 0.2em 0;
    font-size: 14px;
}
.btn-checkbox.btn-small.active {
    padding: 0px 0.2em 0;
}
.btn-checkbox input {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

