html {
    height: 100%;
}
body {
    padding: 10px;
    background: url(/edit/gfx/bg-stars-transparent.png), linear-gradient(180deg, #09092d 0%, #09092d 50%, #112177 100%);
    background-position: center center;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 2fr auto 5fr;
    min-height: 100%;
    justify-items: center;
}

.paper {
    grid-row: 2/3;
    width: 100%;
    max-width: 640px;
    margin: 15px;
    background-color: #f1f1f1;
    background-image: linear-gradient(-135deg, #98b, #98b 12px, #eb1 12px, #eb1 18px, transparent 18px);

    border-top: 1px solid #fff;
    border-bottom: 1px solid #aaa;
    border-left: 1px solid #fbfbfb;
    border-right: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 25px;
    display: grid;
    grid-template-columns: 64px 1fr;
    grid-gap: 10px;
}

.paper > .icon-big {
    margin: 10px;
    width: 64px;
}

a.paper-header {
    color: #116;
}
.paper-header {
    justify-self: end;
    margin: 10px;
    font-size: 32px;
    text-shadow: -1px -1px 2px #fff, 2px 2px 0 #fa1;
    letter-spacing: 2px;
    word-break: break-all;
    line-height: 1.1;
    text-decoration: none;
    align-self: start;
}
a.paper-header:hover {
    text-decoration: underline;
}

.paper > form {
    grid-column: 1/-1;
    grid-row: 2/3;
}

.paper > form > h1 {
    width: 100%;
    float: left;
    padding: 10px;
}

.login-inputs {
    min-height: 177px;
}

#footer {
    grid-row: 3/4;
    width: 100%;
    max-width: 640px;
    display: flex;
    justify-content: space-around;
    filter: drop-shadow(1px 1px 0px #000);
    /*text-shadow: 0 1px 2px #000;*/
    font-family: monospace;
}
#footer p,
#footer p a {
    color: #cdf;
    text-decoration: none;
    margin-bottom: 18px;
}
#footer p a:hover {
    text-decoration: underline;
}



.icon {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    vertical-align: -5px;
}


.box-error { background: #f55; }
.box-success { background: #1BC601; }
.input-errors li { color: #e00; }









/* phone medium (equal to or less than 420px) */
/* iPhone 6s Plus vertical */
/* iPhone 6s Plus vertical */
@media screen and (max-width: 620px) {
    body {
        font-size: 13px;
    }
    .paper {
        padding: 10px;
    }
    .paper > .paper-header {
        font-size: 24px;
    }
    #footer {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}
