p, h1, h2, h3, small {
    font-weight: normal;
    margin: 0;
    color: #000;
}
small, .small {
    font-size: 13px;
    line-height: 1;
}
.tiny {
    font-size: 11px;
    line-height: 1;
}

h1 { font-size: 20px; line-height: 1.4; }
h2 { font-size: 17px; line-height: 1.4; }
h3 { font-size: 16px; line-height: 1.4; }

a,
a:visited,
.afake {
    color:#04b;
    cursor: pointer;
}
a:hover,
.afake:hover {
    color:#00a;
}
.btn-a {
    padding: 1px 8px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #dbc;
    border-radius: 3px;
    box-shadow: inset 1px 1px 4px rgba(255, 255, 255, 0.4);
    text-decoration: none;
}
.btn-a:hover,
.btn-a:focus {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #cab;
    text-decoration: underline;
}
.btn-a.active {
    background-color: #fea;
    border: 1px solid #878;
    text-decoration: underline;
}


.bold {
    font-weight:bold;
    color:#000;
}

.red, a.red { color: #d00; }
.green, a.green { color: #070; }
.blue, a.blue { color: #06b; }
.grey, a.grey { color:#666; }

.tabular {
    font-variant-numeric: tabular-nums;
}

