/* editor */

trix-editor {
    display: block;
    width: 100%;
    min-height: 46px;
    padding: 10px;
    border: 1px solid #b9a;
    border-radius: 1px;
    outline: none;

    font-size: 14px;
    line-height: 24px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    background: linear-gradient(315deg, #98b, #98b 8px, #eb1 8px, #eb1 12px, #fff 12px);
    background-color: #fff;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;;
}

trix-editor * {
    padding: 0;
    margin: 0;
    text-shadow: none;
}
trix-editor > div,
trix-editor > p,
trix-editor > h1,
trix-editor > h2,
trix-editor > pre,
trix-editor > blockquote,
trix-editor > ul,
trix-editor > ol {
    position: relative;
    border-bottom: 1px dashed #ccc;
    padding: 8px 10px;
    margin: 0px -10px;
}
trix-editor > *:first-child {
    border-top: none;
    padding-top: 0;
}
trix-editor > *:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

trix-editor > p::before,
trix-editor > h1::before,
trix-editor > h2::before,
trix-editor > pre::before,
trix-editor > blockquote::before,
trix-editor > ul::before,
trix-editor > ol::before {
    font-weight: normal;
    position: absolute;
    right: 4px;
    top: 3px;
    font-size: 11px;
    line-height: 11px;
    color: #999;
}
trix-editor > p::before {
    content: 'P';
}
trix-editor > h1::before {
    content: 'H1';
}
trix-editor > h2::before {
    content: 'H2';
}
trix-editor pre {
    font-family: monospace;
    white-space: pre-wrap;
}
trix-editor > pre::before {
    content: '</>';
    top: 3px;
}
trix-editor blockquote {
    font-family: Georgia, serif;
    font-size: 15px;
}
trix-editor > blockquote::before {
    content: 'â€';
    top: 11px;
    font-size: 28px;
    color: #aaa;
}
trix-editor > ul::before {
    content: 'UL';
}
trix-editor > ol::before {
    content: 'OL';
}

trix-editor li {
    margin-left: 1em;
}
trix-editor em {
    color: #427;
}
trix-editor:focus {
    border-color: #51A7E8 !important;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px rgba(81, 167, 232, 0.5) !important;
}




/* toolbars */

trix-toolbar {
    display: block;
    width: 100%;
    min-height: 36px;
    background: linear-gradient(180deg, rgba(251, 244, 236, 1.0) 50%, rgba(251, 244, 236, 0.0));
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    padding-top: 5px;
    margin-top: -5px;
    z-index: 60;
}
.module-field-group trix-toolbar {
    background: linear-gradient(180deg, rgba(238, 221, 221, 1.0) 50%, rgba(238, 221, 221, 0.0));
}
.module-field-group-new trix-toolbar {
    background: linear-gradient(180deg, rgba(221, 238, 204, 1.0) 50%, rgba(221, 238, 204, 0.0));
}
.module-field-group-delete trix-toolbar {
    background: linear-gradient(180deg, rgba(255, 187, 187, 1.0) 50%, rgba(255, 187, 187, 0.0));
}



trix-toolbar .trix-button-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    max-width: 600px;
}
trix-toolbar .trix-button-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
    margin-right: 5px;
    border: 1px solid #999;
    border-radius: 4px;
    overflow: hidden;
}
trix-toolbar .trix-button {
    flex-grow: 1;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    outline: none;
    background: linear-gradient(160deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.1) 90%);
    background-color: #fff;
    border: 1px solid #999;
    border-bottom: none;
    border-right: none;
    margin-left: -1px;
    margin-top: -1px;
    min-width: 24px;
    height: 24px;
    text-indent: -9999px;
}
trix-toolbar .trix-button:hover {
    background-image: linear-gradient(160deg, rgba(255, 255, 255, 0.2) 0%, transparent 90%);
}
trix-toolbar .trix-button.trix-active {
    box-shadow: inset 1px 1px 2px rgba(220, 195, 105, 0.6);
    color: #f00;
}
trix-toolbar .trix-button:active {
    box-shadow: inset 1px 1px 2px rgba(220, 195, 105, 0.6);
    background-color: #fe3;
}
trix-toolbar .trix-button.trix-active {
    background-color: #fe8;
}
trix-toolbar .trix-button.trix-active:active:hover {
    background-color: #fe3;
}



trix-toolbar .trix-button:disabled {
    cursor: auto;
    background: #e3e3e3;
}
trix-toolbar .trix-button-group--text-tools {
    order: 0;
    flex: 2 1 auto;
}
trix-toolbar .trix-button-group--block-tools {
    order: 2;
    flex: 4 1 auto;
}
trix-toolbar .trix-button-group--history-tools {
    order: 1;
    flex: 1 1 auto;
}




/* icons */

trix-toolbar .trix-button--icon::before {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.75;
    content: "";
}


trix-toolbar .trix-button--icon:active::before,
trix-toolbar .trix-button--icon.trix-active::before {
    opacity: 1;
}
trix-toolbar .trix-button--icon:disabled::before { opacity: 0.25; }
trix-toolbar .trix-button--icon-bold::before                   { background-image: url(/edit/gfx/buttons/gtrix-bold.png); }
trix-toolbar .trix-button--icon-italic::before                 { background-image: url(/edit/gfx/buttons/gtrix-italic.png); }
trix-toolbar .trix-button--icon-link::before                   { background-image: url(/edit/gfx/buttons/gtrix-link.png); }
trix-toolbar .trix-button--icon-strike::before                 { background-image: url(/edit/gfx/buttons/gtrix-strike.png); }
trix-toolbar .trix-button--icon-quote::before                  { background-image: url(/edit/gfx/buttons/gtrix-quote.png); }
trix-toolbar .trix-button--icon-heading-1::before              { background-image: url(/edit/gfx/buttons/gtrix-heading-1.png); }
trix-toolbar .trix-button--icon-heading-2::before              { background-image: url(/edit/gfx/buttons/gtrix-heading-2.png); }
trix-toolbar .trix-button--icon-code::before                   { background-image: url(/edit/gfx/buttons/gtrix-code.png); }
trix-toolbar .trix-button--icon-bullet-list::before            { background-image: url(/edit/gfx/buttons/gtrix-bullet-list.png); }
trix-toolbar .trix-button--icon-number-list::before            { background-image: url(/edit/gfx/buttons/gtrix-number-list.png); }
trix-toolbar .trix-button--icon-undo::before                   { background-image: url(/edit/gfx/buttons/gtrix-undo.png); }
trix-toolbar .trix-button--icon-redo::before                   { background-image: url(/edit/gfx/buttons/gtrix-redo.png); }
trix-toolbar .trix-button--icon-decrease-nesting-level::before { background-image: url(/edit/gfx/buttons/gtrix-decrease-nesting-level.png); }
trix-toolbar .trix-button--icon-increase-nesting-level::before { background-image: url(/edit/gfx/buttons/gtrix-increase-nesting-level.png); }




/* dialogs */

trix-toolbar .trix-dialog {
    padding: 5px;
    background: #aef;
    border-radius: 4px;
    border: 1px solid #05e;
    z-index: 5;
    margin-bottom: 5px;
}
trix-toolbar .trix-dialog__link-fields {
    display: grid;
    grid-template-columns: 1fr auto;
}
trix-toolbar .trix-dialog__link-fields .trix-input {
    padding: 0 8px;
    flex: 1;
}
trix-toolbar .trix-dialog__link-fields .trix-button-group {
    flex: 0 0 content;
    margin: 0;
}
trix-toolbar .trix-input--dialog {
    padding: 0px 4px;
    height: 25px;
    margin: 0 5px 0 0;
    border-radius: 4px;
    border: 1px solid #999;
    background-color: #fff;
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    min-width: 20px;
}
trix-toolbar .trix-input--dialog.validate:invalid {
    box-shadow: #F00 0px 0px 1.5px 1px;
}
trix-toolbar .trix-button--dialog {
    padding: 0 5px;
    text-indent: initial;
}
